@import url("https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;600;700&family=Playfair+Display:wght@400;500&display=swap");

/* font variables */
$fnt-family1: "Playfair Display", serif;
$fnt-family2: "Josefin Slab", serif;

$fntSz-400: 1rem;
$fntSz-500: 1.125rem;
$fntSz-600: 1.25rem;
$fntSz-700: 1.5rem;
$fntSz-800: 2rem;
$fntSz-900: 2.75rem;

/* Text styles */
h1 {
    font-family: $fnt-family1;
    font-size: $fntSz-900;
    font-weight: 400;
    letter-spacing: 0.275rem;
    text-transform: uppercase;

    color: $clr-Primary-500;
}
h2 {
    font-family: $fnt-family1;
    font-size: $fntSz-800;
    font-weight: 400;
    letter-spacing: 0.04rem;
    text-transform: capitalize;
}
h3 {
    //section title
    font-family: $fnt-family2;
    font-size: $fntSz-700;
    font-weight: 700;
    letter-spacing: 0.045rem;
    text-transform: uppercase;
}
h4 {
    font-family: $fnt-family2;
    font-size: $fntSz-600;
    font-weight: 700;
    letter-spacing: 0.045rem;
    line-height: 1.6875rem;

    color: $clr-Primary-900;
}
p {
    font-family: $fnt-family2;
    font-size: $fntSz-400;
    font-weight: 600;
    line-height: 1.6875rem;
}
a {
    text-decoration: none;
}
.leadTxt,
ol {
    font-family: $fnt-family2;
    font-size: $fntSz-600;
    font-weight: 400;
}
.legal {
    font-family: $fnt-family2;
    font-size: $fntSz-400;
    font-weight: 400;
}
.sectionP {
    font-family: $fnt-family2;
    font-size: $fntSz-500;
    font-weight: 700;
}
.cardTitle {
    font-family: $fnt-family2;
    font-size: $fntSz-500;
    font-weight: 700;
}
.link {
    font-family: $fnt-family2;
    font-size: $fntSz-400;
    font-weight: 600;

    color: $clr-Primary-500;
}
