@import "colorVariables";

/* Page Styles */
body {
    background-color: $clr-Primary-100;
    background-image: linear-gradient(229deg, $linearGradient);
    width: 80%;
    margin: auto;
    overflow-y: auto;
}
section {
    justify-content: center;
    align-items: center;
}

img {
    width: 100%;
    border-radius: inherit;
}

h1,
h2,
h3,
p,
.leadTxt,
.sectionP,
.cardTitle,
a {
    font-style: normal;
}

h1,
h2,
h3,
.leadTxt,
.sectionP,
.cardTitle,
a {
    line-height: normal;
}

li {
    padding: 0.5rem;
    text-align: center;
}

/* Scrollbar Styles */
::-webkit-scrollbar {
    width: 1rem;
}
::-webkit-scrollbar-thumb {
    background: $clr-Primary-300;
    border-radius: 1rem;
}
::-webkit-scrollbar-button {
    display: none;
}

/* Button Styles */
.btn {
    padding: 1rem 2rem;
    width: fit-content;
    border: none;
    border-radius: 2.5rem;
    text-align: center;
    cursor: pointer;

    background-image: linear-gradient(209deg, $btnGradient);
}
.btnPrimary {
    background-color: $clr-Secondary1-500;
    color: $clr-Secondary1-100;
}
.btnPrimary:hover {
    background-color: $clr-Secondary1-300;
    color: $clr-Secondary1-900;
    box-shadow: -4px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
}
.btnSecondary {
    background-color: $clr-Secondary2-600;
    color: $clr-Secondary2-100;
}
.btnSecondary:hover {
    background-color: $clr-Secondary2-300;
    color: $clr-Secondary2-900;
    box-shadow: -4px 4px 4px 0px hsla(0, 0%, 0%, 0.25);
}

.disabled {
    background-image: linear-gradient(229deg, $btnGradientD);
    background-color: $clr-Primary-700;
    color: $clr-Primary-600;
    cursor: not-allowed;
}

.clicked {
    background-image: linear-gradient(229deg, $btnGradientC);
    color: $clr-Secondary1-600;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
}
